################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App1/App1/obj
/App1/App2/obj
/App1/App2/bin/x86/Debug
/App1/App3/bin/x86/Debug
/App1/App3/obj
/App1/App4/bin/x86/Debug
/App1/App4/obj
/App1/App5/bin/x86/Debug
/App1/App5/obj
/App1/App6/bin/x86/Debug
/App1/App6/obj
/App1/App7/bin/x86/Debug
/App1/App7/obj
/App1/DataAsy_Sec4/bin/x86/Debug
/App1/DataAsy_Sec4/obj
